
header 
{
    position: fixed;
    top: -60px;
    left: 200.2px;
    width: 100%;
    background: rgb(153, 158, 185); 
    z-index: 1000;
    text-indent: -205.5px;
    height: 110.5px;
    padding-left: 20px;
    border-bottom: 5px solid rgb(44, 48, 55);
    box-shadow: inset 2px 3px 10px #3a3937;
}
.margin
{
    position: fixed;
    top: -17px;
    left: -6.5px;
    width: 201.5px;
    background: rgb(153, 158, 185); 
    z-index: 1000;
    text-indent: 94.5px;
    height: 110%; 
    border-right: 5px solid rgb(44, 48, 55);
    box-shadow: inset 10px 5px 20px #3a3937;

}
body
{
    background-color: rgb(63, 66, 81);
}
.home
{
    display: block;
    position: absolute;
    top: 62px;
    left: -200px;
    width: 200px;
    text-indent: 10px;
    padding-bottom: 6px;
    border-bottom: 5px solid rgb(44, 48, 55);
    box-shadow: 0 8px 6px -6px #3a3937;
}
.trinket, .home1, .CO, .rando, .scenes
{
    position: absolute;
    top: 46.5%;
    transform: translateY(-50%);
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    font-weight: bold;
    color: rgb(0, 0, 0);
} 
.trinket {
    left: 289.5px; 
}
.home1 {
    left: 221px; 
}
.scenes {
    left: 600.5px; 
}
.rando {
    left: 690.5px; 
}
.CO {
    left: 427.5px;
}
.image
{
    position: absolute;
    top: 149.5px;
    width: 730px;
    left: 212px;
    border: 4px solid rgb(44, 48, 55);
}
.image-container 
{
    position: absolute;
}

.arrow-button 
{
    position: absolute;
    top: 383px;
    left: 64.4%;
    transform: translateX(-50%);
    background: rgb(179, 182, 200);
    border: 4px solid rgb(44, 48, 55);
    color: rgb(44, 48, 55);
    font-size: 32px;
}
.arrow-buttonleft
{
    position: absolute;
    top: 383px;
    left: 17.5%;
    transform: translateX(-50%);
    background:rgb(179, 182, 200);
    border: 4px solid rgb(44, 48, 55);
    color: rgb(44, 48, 55);
    font-size: 32px;
}
.arrow 
{
    position: absolute;
    top: 180.5px;
    width: 83px;
    left: 98.5px;
}
.container
{
    position: absolute;
    top: 75.5px;
    width: 732px;
    left: 218px;
    border: 4px solid rgb(44, 48, 55);
    background: rgb(179, 182, 200); 
}
.container2
{
    position: absolute;
    top: 158px;
    width: 394px;
    left: 972px;
    border: 4px solid rgb(44, 48, 55);
    background: rgb(179, 182, 200); 
}
.container3
{
    position: absolute;
    top: 511px;
    width: 394px;
    left: 972.5px;
    border: 4px solid rgb(44, 48, 55);
    background: rgb(179, 182, 200); 
}
.container4
{
    position: absolute;
    top: 441.5px;
    width: 394px;
    left: 972.5px;
    height: 217px;
    border: 4px solid rgb(44, 48, 55);
    background: rgb(179, 182, 200); 
}
.text1, .text2, .text3, .text4, .text5, .T301, .text202
{
    color: rgb(32, 34, 38);
}
.text
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 30.5px;
    font-weight: bold;
    margin-top: 0px;
    text-indent: 2.5px;
    margin-top: 1px;
}
.text2 {
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 0px;
    text-indent: 2.5px;
    margin-top: -1px;
}
.text202 {
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 0px;
    text-indent: 2.5px;
    margin-top: -49px;
}
.text3
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 8.5px;
    margin-top: 3px;
    margin-left: 10px;
}
.text3T
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: -5px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.text5
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}
.text5T
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5.5px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.bottom
{
    position: absolute;
    top: 509px;
    width: 10px;
    left: 34.5px;
    opacity: 0%;
}
.bottom2
{
    position: absolute;
    top: 670px;
    width: 10px;
    left: 34.5px;
    opacity: 0%;
}
.video
{
    position: absolute;
    top: 417px;
    left: 973px;
    border:
    2px solid grey;
} 
.tinypic, .tinypic1, .tinypic2
{
    position: absolute;
  top: 70px;
  left: 7px;
  border:2px solid grey;
  width: 120px;
}
.tinypic
{
    left: 7px;
}
.tinypic1
{
    left:134.5px;
}
.tinypic2
{
    left: 262px;
}
.text4
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 0px;
    text-indent: 2.5px;
    margin-top: 7px;
}
.T301
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 15.5px;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
}

/* IMGS */
/* Two */
.selectOne
{
font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  position: absolute;
  top: 641.5px;
  transform: translateX(-50%);
  font-size: 10px;
  left: 78%;
  background:
rgb(179, 182, 200);
  border:
1px solid rgb(44, 48, 55);
  color: rgb(44, 48, 55);
}
.selectTwo {
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    position: absolute;
    top: 641.5px;
    transform: translateX(-50%);
    font-size: 10px;
    left: 81.5%;
    background:
  rgb(179, 182, 200);
    border:
  1px solid rgb(44, 48, 55);
    color: rgb(44, 48, 55);
  }
.selectThree
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  position: absolute;
  top: 641.5px;
  transform: translateX(-50%);
  font-size: 10px;
  left: 85%;
  background:
rgb(179, 182, 200);
  border:
1px solid rgb(44, 48, 55);
  color: rgb(44, 48, 55);
}
