body 
{
    margin: 0;
}

canvas 
{
    display: block;
}

header 
{
    position: fixed;
    top: -60px;
    left: 200.2px;
    width: 100%;
    background: rgb(153, 158, 185); 
    z-index: 1000;
    text-indent: -205.5px;
    height: 110.5px;
    padding-left: 20px;
    border-bottom: 5px solid rgb(44, 48, 55);
    box-shadow: inset 2px 3px 10px #3a3937;
}
.container
{
    position: absolute;
    top: 69.5px;
    width: 344.5px;
    left: 215px;
    height: 48.5px;
    border: 4px solid rgb(44, 48, 55);
    background: rgb(179, 182, 200); 
}
.explain
{
    position: absolute;
    top: 69.5px;
    width: 788px;
    left: 578.5px;
    height: 48.5px;
    border: 4px solid rgb(44, 48, 55);
    background: rgb(179, 182, 200); 
}
.titleTR
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 16px;
    font-weight: bold;
    color: rgb(32, 34, 38);
    margin-left: 9px;
    margin-top: 7.5px;
}
.margin
{
    position: fixed;
    top: -17px;
    left: -6.5px;
    width: 201.5px;
    background: rgb(153, 158, 185); 
    z-index: 1000;
    text-indent: 94.5px;
    height: 110%; 
    border-right: 5px solid rgb(44, 48, 55);
    box-shadow: inset 10px 5px 20px #3a3937;

}
.background
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
.bckimg
{
    display: block;
    position: absolute;
    top: 119px;
    left: 170px;
    width: 1257.5px;
}
body
{
    background-color: rgb(63, 66, 81);
}
.home
{
    display: block;
    position: absolute;
    top: 62px;
    left: -200px;
    width: 200px;
    padding-bottom: 6px;
    border-bottom: 5px solid rgb(44, 48, 55);
    box-shadow: 0 8px 6px -6px #3a3937;

}
.title 
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 29.5px;
    font-weight: bold;
    color: rgb(32, 34, 38);
    margin: 0;
    text-indent: 13.5px;
    margin-top: 5px;
}
.title2
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 29.5px;
    font-weight: bold;
    color: rgb(32, 34, 38);
    margin: 0;
    margin-top: 0px;
    text-indent: 11.5px;
    margin-top: 4.5px;
}
.title02
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(51, 11, 55);
    margin: 0;
    text-indent: 391px;
    margin-top: -23.5px;
}
.title022
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(51, 11, 55);
    margin: 0;
    text-indent: 567.5px;
    margin-top: -23.5px;
}
.title3
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 50px;
    font-weight: bold;
    color: rgb(51, 11, 55);
    margin: 0;
    text-indent: 200px;
    margin-top: -170.5px;
}
.title4
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 45px;
    font-weight: bold;
    color: rgb(51, 11, 55);
    margin: 0;
    text-indent: 200px;
    margin-top: 750px;
}
.title5
{
    font-family: "Courier New", Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 30px;
    font-weight: bold;
    color: rgb(51, 11, 55);
    margin: 0;
    text-indent: 200px;
    margin-top: -15px;
}
.trinket, .home1, .CO, .rando, .scenes
{
    position: absolute;
    top: 46.5%;
    transform: translateY(-50%);
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    font-weight: bold;
    color: rgb(0, 0, 0);
} 
.trinket {
    left: 289.5px; 
}
.home1 {
    left: 221px; 
}
.scenes {
    left: 600.5px; 
}
.rando {
    left: 690.5px; 
}
.CO {
    left: 427.5px;
}
/*-CONTAINERS-*/
.TC1, .TC2, .TC3, .TC4, .TC5, .TC6, .TC7, .TC8, .TC9, .TC10, .TC11, .TC12
{
    position: absolute;
    height: 48.5px;
    border: 4px solid rgb(44, 48, 55);
    background: rgb(179, 182, 200); 
    width: 347px;
    height: 31px;
}
/*-top align-*/
.TC1, .TC2, .TC3 
{
    top:  401px;
}
.TC4, .TC5, .TC6
{
    top: 919.5px;
}
.TC7, .TC8, .TC9
{
    top: 1330.5px;
}
.TC10, .TC11, .TC12
{
    top: 1742.5px;
}
/*-left align-*/
.TC1, .TC4, .TC7, .TC10
{
    left: 233.5px;
}
.TC2, .TC5, .TC8, .TC11
{
    left: 619px;
}
.TC3, .TC6, .TC9, .TC12
{
    left: 1005.5px;
}
/* -MODELS LAYOUT- */
.model1, .model2, .model3, .model4, .model5, .model6, .model7, .model8, .model9, .model10, .model11, .model12, .model13
{
    position: absolute;
    top: 143.5px; 
    max-width: 350px;
    max-height: 239px;
    border: 4px solid rgb(44, 48, 55);}
.model1 
{
    left: 235.5px
}
.model2 
{
    left: 620px;
}
.model3
{   
    left: 1006.5px;
}
.model4
{   
    top: 453px;
    left: 235.5px
}
.model5
{   
    top: 453px;
    left: 620px;
}
.model6
{   
    top: 453px;
    left: 1006.5px;
}
.model7
{   
    top: 995px;
    left: 235.5px
}
.model8
{   
    top: 995px;
    left: 620px;
}
.model9
{   
    top: 995px;
    left: 1006.5px;
}
.model10
{   
    top: 1413.5px;
    left: 235.5px
}
.model11
{   
    top: 1413.5px;
    left: 620px;
}
.model12
{   
    top: 1413.5px;
    left: 1006.5px;
}
/* -TEXT4MODELS- */
.text1, .text2, .text3
{
    position: absolute;
    top: 397.5px;
    transform: translateY(-50%);
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.text1
{
    left: 241px;
}
.text2
{
    left: 628px;
}
.text3
{
    left: 1012px;
}
.text4, .text5, .text6
{
    position: absolute;
    top: 935.5px;
    transform: translateY(-50%);
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.text4
{
    left: 241px;
}
.text5
{
    left: 628px;
}
.text6
{
    left: 1012px;
}
.text7, .text8, .text9
{
    position: absolute;
    top: 1347px;
    transform: translateY(-50%);
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.text7
{
    left: 241px;
}
.text8
{
    left: 628px;
}
.text9
{
    left: 1012px;
}
.text10, .text11, .text12
{
    position: absolute;
    top:1767px;
    transform: translateY(-50%);
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.text10
{
    left: 241px;
}
.text11
{
    left: 628px;
}
.text12
{
    left: 1012px;
}
