:root 
{
    --bg-color: #222222;
    --text-color: rgb(255, 255, 255);
    --bg-image: url('moon\ copy.png');
}
body 
{
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: var(--bg-image);
    background-size: 100%;
    background-repeat: repeat;
    transition: background-color 0.3s, color 0.3s, background-image 0.3s;
}

/* THEMES */
/* Mode1 */
.theme1 
{
    --bg-color: #f0f0f0;
    --text-color: #222222;
    --bg-image: url('sc2.png');
}
.T1
{
    position: absolute;
    top: 10px;
    left: 1%;
    max-width: 15px;
}
/* Mode2 */
.theme2 
{
    --bg-color: #1e3a8a;
    --text-color: #fbbf24;
    --bg-image: url('sc3.png');
}
.T2
{
    position: absolute;
    top: 10px;
    left: 1.7%;
    max-width: 15px;
}
/* Mode3 */
.theme3 
{
    --bg-color: #164a16;
    --text-color: #a3e635;
    --bg-image: url('sc4.png');
}
.T3
{
    position: absolute;
    top: 10px;
    left: 2.4%;
    max-width: 15px;
}
/* OG-Mode */
.T4
{
    position: absolute;
    top: 10px;
    left: 3.1%;
    max-width:15px;
}

/* BUTOONS */
.button1 
{
    position: absolute;
    top: 38px;
    left: 30.6%;
    max-width: 167.5px;
}
/* IMGS */
.stats
{
    position: absolute;
    top: 915px;
    left: -2.9%;
    width: 130%;
}
.eye
{
    position: absolute;
    top: 40.5px;
    left: 5.6%;
    width: 11%;
}
.alien
{
    position: absolute;
    top: 183px;
    left: 23.6%;
    width: 11%;
}
.what
{
    position: absolute;
    top: 1090.5px;
    left: 84.1%;
    width: 11%;
}
.idog1
{
    position: absolute;
    top: 491px;
    left: 71.6%;
    width: 7.5%;
}
.idog2
{
    position: absolute;
    top: 465px;
    left: 63.1%;
    width: 6%;
}
.idog3
{
    position: absolute;
    top: 411.5px;
    left: 69.6%;
    width: 4%;
}

.text1
{
    position: absolute;
    top:  493px;
    left: 53.5%;
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 130px; 
    font-weight: bold;
    color: rgba(122, 159, 197, 0.843);
}